<div class="Ss-maincontent">
    <div class="Ss-maincontent-Signup">
        <div class="container">
            <div class="row">
                <!-- start of signup panel-->
                <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-md-6 col-lg-6 col-sm-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Activation</h3>
                        </div>
                        <div class="panel-body">
                            <form novalidate class="form-group" name="activationForm">
                                <div class="form-group"
                                     ng-class="{ 'has-error': activationForm.activationCode.$touched && activationForm.activationCode.$invalid }">
                                    <label for="activationCode">Please enter the activation code sent to your registered
                                        e-mail</label>
                                    <input type="text" name="activationCode" class="form-control" id="activationCode"
                                           placeholder="Activation code"
                                           ng-model="user.activationCode"
                                           required>
                                </div>
                                <div class="help-block" ng-messages="activationForm.activationCode.$error"
                                     ng-show="activationForm.activationCode.$touched && !activationForm.activationCode.$pristine">
                                    <div ng-messages-include="error.messages.html"></div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-4 col-lg-8">
                                        <button type="submit" ui-sref="Useractivationconfirm" class="btn btn-primary"
                                                ng-disabled="activationForm.$invalid">Submit
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- end of panel-->
            </div>
        </div>
    </div>
</div>
