<div class="Ss-maincontent">
    <div class="Ss-maincontent-Landingpage">
        <div class="jumbotron text-center">
            <div class="container-fluid">
                <p>

                <h1>Student Shopper</h1></p>
                <p class="lead">An online platform for selling second hand items for BTH members</p>

                <p><a class="btn btn-large btn-success" href="http://bootply.com/tagged/bootstrap-3" target="ext">POST.BID.BUY.SELL</a>
                </p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Product Categories</h3>
            </div>
            <div class="panel-body">

                <div class="container">
                    <div class="row row-eq-height">
                        <div class="col-lg-4">
                            <h4>homedecor and furniture</h4>
                            <img class="img-thumbnail" src="http://rohinishops.com/admin/img/1427523406467700.jpg">
                        </div>
                        <div class="col-lg-4">
                            <h4>Electrical and home appliances</h4>
                            <img class="img-thumbnail" src="http://im.hunt.in/cg/Jamshedpur/City-Guide/household.jpg">
                        </div>
                        <div class="col-lg-4">
                            <h4>Books & stationary</h4>
                            <img class="img-thumbnail" src="http://www.chenforms.com/images/slide6.jpg">
                        </div>
                    </div>
                    <div class="row row-eq-height">
                        <div class="col-lg-4">
                            <h4>Cycles or automobiles</h4>
                            <img class="img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/'Mountain_cycles'_for_sale_at_'Titlis_rotoair_cable_car_station'(Thursday_20-5-2010)..jpg/1280px-'Mountain_cycles'_for_sale_at_'Titlis_rotoair_cable_car_station'(Thursday_20-5-2010)..jpg">
                        </div>
                        <div class="col-lg-4">
                            <h4>Clothes and footwear</h4>
                            <img class="img-thumbnail" src="http://previews.123rf.com/images/anikasalsera/anikasalsera1104/anikasalsera110400001/9283680-Female-and-male-black-and-white-clothes-on-a-rod-and-shoes-on-a-wooden-floor--Stock-Photo.jpg">
                        </div>
                        <div class="col-lg-4">
                            <h4>Antiques and collectibles</h4>
                            <img class="img-thumbnail" src="http://www.austinchronicle.com/imager/b/filmreview/1464753/5544/dk_Uncommon-Objects_6068.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
