<div class="Ss-maincontent">
    <div class="Ss-maincontent-Landingpage">
        <!-- start of jumbatron-->
        <div class="jumbotron text-center">
            <div class="container-fluid">
                <p><h1 class="lead" style="color:#ffffff;">Student Shopper</h1></p>
                <p class="lead">An online platform for selling second hand items for BTH members</p>
                <p><a class="btn btn-large btn-success" href="Signup" target="ext">POST.BID.BUY.SELL</a></p>
            </div>
        </div>
        <!-- end of jumbatron-->
        <!-- start of product category panel-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Product Categories</h3>
            </div>
            <div class="panel-body">
                <div class="container" style="padding-left:70px;">
                    <div ng-repeat="category in mainPageCtrl.categories track by $index" ng-if="$index % 3 == 0" class="row row-eq-height">
                        <div class="col-lg-4">
                            <h4>{{mainPageCtrl.categories[$index].name}}</h4>
                            <a href="#" class="thumbnail">
                                <img ng-src="images/{{mainPageCtrl.categories[$index]._id.$id}}.jpg">
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <h4>{{mainPageCtrl.categories[$index + 1].name}}</h4>
                            <a href="#" class="thumbnail">
                                <img ng-src="images/{{mainPageCtrl.categories[$index + 1]._id.$id}}.jpg">
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <h4>{{mainPageCtrl.categories[$index + 1].name}}</h4>
                            <a href="#" class="thumbnail">
                                <img ng-src="images/{{mainPageCtrl.categories[$index + 2]._id.$id}}.jpg">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of panel -->
    </div>
</div>
