<div class="Ss-header">
    <nav class="navbar navbar-default Ss-header-wrapper">
        <div class="container-fluid Ss-header-content">
            <div class="navbar-header Ss-header-logo">
            </div>
            <ul class= "nav navbar-nav navbar-left">
                <li>
                    <a ui-sref="Home" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    </a>

                </li>
                <li class=""><a href="#">Welcome to Student Shopper</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <a class="btn btn-success navbar-btn"> Login</a>
               <a class="btn btn-success navbar-btn" ui-sref="Signup">Sign Up</a>
            </ul>
        </div>
    </nav>
</div>
