<div class="Ss-header">
    <nav class="navbar navbar-default Ss-header-wrapper">
        <div class="container-fluid Ss-header-content">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">
                <img alt="Brand" src="...">
              </a>
            </div>
            <div class="nav navbar-nav navbar-left">
                <a ui-sref="Home" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                </a>
                <a ui-sref="Home" href="#" style="text-effect: none;">Welcome to Student Shopper</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <a class="btn btn-success navbar-btn" ui-sref="Login"> Login</a>
                <a class="btn btn-success navbar-btn" ui-sref="Signup">Sign Up</a>
            </ul>
        </div>
    </nav>
</div>
