<div class="Ss-maincontent">
    <div class="Ss-maincontent-Landingpage">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-3">
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Sign up</h3>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <div class="input-group">
                                        <label for="exampleInputEmail1" class="col-sm-2 control-label">Email
                                            address</label>

                                        <div class="col-sm-10 input-group">
                                            <input type="text" class="form-control" placeholder="BTH email address"
                                                   aria-describedby="basic-addon2">
                                            <span class="input-group-addon" id="basic-addon2">@bth.se</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputUsername" class="col-sm-2 control-label">Username</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputUsername"
                                               placeholder="Enter your Username">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>

                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="inputPassword3"
                                               placeholder="Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword4" class="col-sm-2 control-label">Retype Password</label>

                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="inputPassword4"
                                               placeholder="Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Remember me
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-primary" data-toggle="modal"
                                                data-target="#myModal">Submit
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>