<!-- start of the categories panel-->
<div class="col-md-8 col-lg-8 col-sm-8">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{productCtrl.product.name}}</h3>
        </div>
        <div class="panel-body">

            <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
                <uib-slide ng-repeat="slide in productCtrl.slides" active="slide.active">
                    <img ng-src="{{slide.image}}" style="margin:auto;">
                    <div class="carousel-caption">
                        <h4>Slide {{$index}}</h4>
                        <p>{{slide.text}}</p>
                    </div>
                </uib-slide>
            </uib-carousel>

            <div>
                <h4> Description</h4>
                <p>{{productCtrl.product.description}}</p>
                <div class="col-md-6 col-lg-6 col-sm-6 baseprice">
                    <table class="table table-condensed table-striped">
                        <tbody>
                        <tr>
                            <td colspan="2"><a ng-click="productCtrl.checkProfile(productCtrl.product.ownerID)">View
                                seller profile</a></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Base price:</td>
                            <td>{{productCtrl.product.basePrice}}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Expires in:</td>
                            <td>{{productCtrl.expDate}}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Quantity left:</td>
                            <td>{{productCtrl.product.quantity}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 bidvalue">
                    <form novalidate class="form-horizontal" name="UserInputBid"
                          ng-hide="productCtrl.product.ownerID === currentUser.id">
                        <div class="form-group col-md-8 col-sm-8 col-lg-8"
                             ng-class="{ 'has-error': UserInputBid.InputBid.$touched && UserInputBid.InputBid.$invalid }">
                            <label for="InputBid" class="col-lg-3 col-sm-3 col-md-3 control-label">Input
                                Bid</label>
                            <div class="col-lg-9 col-sm-9 col-md-9">
                                <input type="text" name="InputBid" class="form-control" id="InputBid"
                                       placeholder="Enter your bid"
                                       ng-model="productCtrl.newBid"
                                       ng-pattern="/^[0-9]{1,5}$/" required>
                                <span class="input-group-addon " id="singEmailAddon">SEK</span>
                                <div class="help-block" ng-messages="UserInputBid.InputBid.$error"
                                     ng-show="UserInputBid.InputBid.$touched && !UserInputBid.InputBid.$pristine">
                                    <div ng-messages-include="error.user.messages.html"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-4">
                                <button ng-click="productCtrl.placeBid()" type="button" class="btn btn-primary"
                                        ng-disabled="UserInputBid.$invalid">Bid
                                </button>
                            </div>
                            <button style="margin-top:10px;" ng-show="show" type="submit"
                                    class=" col-lg-4 btn btn-primary"
                                    ng-disabled="UserInputBid.$invalid">Cancel bid
                            </button>
                        </div>
                    </form>
                    <table class="table table-condensed table-striped">
                        <tbody>
                        <tr>
                            <td style="font-weight: bold;">Current bid value:</td>
                            <td>{{productCtrl.bidder.currentBid}}</td>
                        </tr>
                        <tr>
                            <td colspan="2"><a ng-click="productCtrl.checkProfile(productCtrl.bidder.bidder.bidderID)">View
                                bidder profile</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of category panel-->