<div ui-view class="Ss"></div>
<div class="col-md-4 col-lg-4 col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading bth-group">
            <div class="btn-group">
                <button class="btn btn-primary" ng-click="showme=true">My Bids</button>
                <button class="btn btn-primary" ng-click="showme=false">My Products</button>

            </div>

            <div class="panel-body">
                <div class="wrapper">
                    <script type="text/ng-template" id="group-template.html">
                        <div class="panel {{panelClass || 'panel-default'}}">

                            <h4 class="panel-title" style="color:#fa39c3">
                                <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()"
                                   uib-accordion-transclude="heading">
                                    <span ng-class="{'text-muted': isDisabled}">{{heading}}</span>
                                </a>
                            </h4>

                            <div class="panel-collapse collapse" uib-collapse="!isOpen">
                                <div class="panel-body" style="text-align: right" ng-transclude></div>
                            </div>
                        </div>
                    </script>

                    <uib-accordion ng-hide="showme" close-others="oneAtATime">
                        <div ng-repeat="product in myBPCtrl.myProducts">
                            <uib-accordion-group heading="{{product.name}}">
                                <table class="table table-condensed table-striped">
                                    <tbody>
                                    <tr>
                                        <td style="font-weight: bold;">Current bid:</td>
                                        <td>{{product.currentBid}}</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold;">Base price:</td>
                                        <td>{{product.basePrice}}</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold;">Expires in:</td>
                                        <td>{{myBPCtrl.getExp(product.expirationDate)}}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-info btn-sm"
                                                    ng-click="myBPCtrl.viewItem(product._id)">
                                                View
                                            </button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger btn-sm"
                                                    ng-click="myBPCtrl.deleteItem(product._id)">
                                                Delete
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </uib-accordion-group>
                        </div>
                    </uib-accordion>
                    <div>
                        <script type="text/ng-template" id="group-template.html">
                            <div class="panel {{panelClass || 'panel-default'}}">

                                <h4 class="panel-title" style="color:#fa39c3">
                                    <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()"
                                       uib-accordion-transclude="heading">
                                        <span ng-class="{'text-muted': isDisabled}">{{heading}}</span>
                                    </a>
                                </h4>

                                <div class="panel-collapse collapse" uib-collapse="!isOpen">
                                    <div class="panel-body" style="text-align: right" ng-transclude></div>
                                </div>
                            </div>
                        </script>

                        <uib-accordion ng-show="showme" close-others="oneAtATime">
                            <div ng-repeat="bid in myBPCtrl.myBids">
                                <uib-accordion-group heading="{{bid.product.name}}">
                                    <table class="table table-condensed table-striped">
                                        <tbody>
                                        <tr>
                                            <td>Current Bid :</td>
                                            <td>{{bid.currentBid}}</td>
                                        </tr>
                                        <tr>
                                            <td>My Bid:</td>
                                            <td>{{bid.bid}}</td>
                                        </tr>
                                        <tr>
                                            <td>Bid Expiry date:</td>
                                            <td>{{myBPCtrl.getExp(bid.product.expirationDate)}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <button type="button" class="btn btn-info btn-sm"
                                                        ng-click="myBPCtrl.viewItem(bid.product._id)">
                                                    View
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </uib-accordion-group>
                            </div>
                        </uib-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>