<div class="Ss-maincontent">
    <div class="Ss-maincontent-Signup">
        <div class="container">
            <div class="row">
                <!-- start of signup panel-->
                <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-md-6 col-lg-6 col-sm-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Activation</h3>
                        </div>
                        <div class="panel-body">
                        <H3 style="color:green;"><span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:green;"></span>&nbsp;&nbsp;&nbsp;Thank You for registering!</H3>
                        <br>
                            Your account is activated. Please <a ui-sref="Login">Login</a> to use StudentShopper.
                        </div>
                    </div>
                </div>
                <!-- end of panel-->
            </div>
        </div>
    </div>
</div>
