<div class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar">
      <form class="navbar-form navbar-left" role="search">
       <a ui-sref="UserMain" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                </a>
        <div class="form-group">
          <div class="input-group">
              <input type="text" class="form-control" ng-model="SearchQuery" placeholder="Search for product">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </span>
          </div>
        </div>
      </form>
        <ul class="nav navbar-nav navbar-right">
                <a class="btn btn-default navbar-btn" ui-sref="UserProfile" > <span class="glyphicon glyphicon-user" aria-hidden="true"></span>Profile</a>
                <a class="btn btn-default navbar-btn" ui-sref="UserSellProduct" > <span class="glyphicon glyphicon-share" aria-hidden="true"></span>Sell Product</a>
                <a class="btn btn-default navbar-btn" > <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>Logout</a>
            </ul>
    </div>
  </div>
  <!-- end of search bar-->
</div>
