<!-- Start of the main content for user home page-->
<div class="container-fluid">
    <!-- start of the categories panel-->
    <div class="col-md-8 col-lg-8 col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Product Categories</h3>
            </div>
            <div class="panel-body">
                <div class="container">
                    <div class="row row-eq-height">
                        <div class="col-md-8 col-lg-8 col-sm-8">
                            <div class="col-lg-4">
                                <h4>homedecor and furniture</h4>
                                <a href="#" class="thumbnail">
                                    <img src="http://rohinishops.com/admin/img/1427523406467700.jpg">
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <h4>Electrical and home appliances</h4>
                                <a href="#" class="thumbnail">
                                    <img src="http://im.hunt.in/cg/Jamshedpur/City-Guide/household.jpg">
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <h4>Books & stationary</h4>
                                <a href="#" class="thumbnail">
                                    <img src="http://www.chenforms.com/images/slide6.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="row row-eq-height">
                            <div class="col-md-8 col-lg-8 col-sm-8">
                                <div class="col-lg-4">
                                    <h4>Cycles or automobiles</h4>
                                    <a href="#" class="thumbnail">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/'Mountain_cycles'_for_sale_at_'Titlis_rotoair_cable_car_station'(Thursday_20-5-2010)..jpg/1280px-'Mountain_cycles'_for_sale_at_'Titlis_rotoair_cable_car_station'(Thursday_20-5-2010)..jpg">
                                    </a>
                                </div>
                                <div class="col-lg-4">
                                    <h4>Clothes and footwear</h4>
                                    <a href="#" class="thumbnail">
                                        <img src="http://previews.123rf.com/images/anikasalsera/anikasalsera1104/anikasalsera110400001/9283680-Female-and-male-black-and-white-clothes-on-a-rod-and-shoes-on-a-wooden-floor--Stock-Photo.jpg">
                                    </a>
                                </div>
                                <div class="col-lg-4">
                                    <h4>Antiques and collectibles</h4>
                                    <a href="#" class="thumbnail">
                                        <img src="http://www.austinchronicle.com/imager/b/filmreview/1464753/5544/dk_Uncommon-Objects_6068.jpg">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of category panel-->
    <!-- start of my bids and my products panel-->
    <div class="col-md-4 col-lg-4 col-sm-4">
        <div>
            <div class="panel panel-default">
                <div class="panel-heading bth-group">
                    <a class="btn btn-primary">My bids</a>
                    <a class="btn btn-primary">Myproducts</a>

                    <div class="panel-body">
                      <div ui-view="user.list"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of panel-->
</div>
