<!-- start of the categories panel-->
<div class="col-md-8 col-lg-8 col-sm-8">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Product Categories</h3>
        </div>

        <div class="panel-body">
            <div class="container">
                <div ng-repeat="category in userHomeCtrl.categories track by $index" ng-if="$index % 3 == 0"
                     class="row row-eq-height">
                    <div class="col-md-8 col-lg-8 col-sm-8">
                        <div class="col-lg-4">
                            <h4>{{userHomeCtrl.categories[$index].name}}</h4>
                            <a class="thumbnail">
                                <img class="img-responsive" ng-click="userHomeCtrl.categoryClick(userHomeCtrl.categories[$index]._id.$id)"
                                     ng-src="images/{{userHomeCtrl.categories[$index]._id.$id}}.jpg">
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <h4>{{userHomeCtrl.categories[$index + 1].name}}</h4>
                            <a class="thumbnail">
                                <img class="img-responsive" ng-click="userHomeCtrl.categoryClick(userHomeCtrl.categories[$index + 1]._id.$id)"
                                     ng-src="images/{{userHomeCtrl.categories[$index + 1]._id.$id}}.jpg">
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <h4>{{userHomeCtrl.categories[$index + 2].name}}</h4>
                            <a class="thumbnail">
                                <img class="img-responsive" ng-click="userHomeCtrl.categoryClick(userHomeCtrl.categories[$index + 2]._id.$id)"
                                     ng-src="images/{{userHomeCtrl.categories[$index + 2]._id.$id}}.jpg">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>